orchestration/n8n_workflow_layer3_brief_agent.json
{
  "name": "IOA Layer 3 Brief Agent (Supabase + OpenAI + Slack)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1460,
        140
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1460,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ioa-brief-request",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1460,
        500
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "supabase_url",
              "value": "https://REPLACE_WITH_PROJECT.supabase.co"
            },
            {
              "name": "supabase_service_key",
              "value": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "openai_api_key",
              "value": "REPLACE_WITH_OPENAI_API_KEY"
            },
            {
              "name": "openai_model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "slack_webhook_url",
              "value": "https://hooks.slack.com/services/REPLACE/ME"
            },
            {
              "name": "default_country",
              "value": "ALL"
            },
            {
              "name": "default_sector",
              "value": "ALL"
            },
            {
              "name": "default_region",
              "value": "all"
            },
            {
              "name": "default_theme",
              "value": ""
            },
            {
              "name": "default_audience",
              "value": "IOA leadership"
            }
          ],
          "number": [
            {
              "name": "default_days",
              "value": 7
            },
            {
              "name": "default_max_articles",
              "value": 120
            },
            {
              "name": "default_min_relevance",
              "value": 3
            }
          ]
        },
        "options": {}
      },
      "id": "init_config",
      "name": "Init Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1240,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst text = String(body.text ?? '').trim();\n\nconst kv = {};\nfor (const token of text.split(/\\s+/)) {\n  if (!token.includes('=')) continue;\n  const [k, ...rest] = token.split('=');\n  if (!k || rest.length === 0) continue;\n  kv[k.trim().toLowerCase()] = rest.join('=').trim();\n}\n\nconst pick = (key, fallback = '') => {\n  const v = body[key] ?? kv[key];\n  if (v === undefined || v === null || v === '') return fallback;\n  return v;\n};\n\nconst toInt = (value, dflt, min, max) => {\n  const n = Number.parseInt(String(value ?? ''), 10);\n  if (Number.isNaN(n)) return dflt;\n  return Math.max(min, Math.min(max, n));\n};\n\nconst rawCountry = String(pick('country', $json.default_country || 'ALL')).toUpperCase();\nconst country = rawCountry === 'PAN-AFRICA' ? 'PAN' : rawCountry;\n\nconst sectorInput = String(pick('sector', $json.default_sector || 'ALL')).trim();\nconst sector = sectorInput ? (sectorInput === 'ALL' ? 'ALL' : sectorInput[0].toUpperCase() + sectorInput.slice(1).toLowerCase()) : 'ALL';\n\nconst region = String(pick('region', $json.default_region || 'all')).toLowerCase();\nconst theme = String(pick('theme', $json.default_theme || '')).trim();\nconst audience = String(pick('audience', $json.default_audience || 'IOA leadership')).trim();\n\nconst days = toInt(pick('days', $json.default_days || 7), $json.default_days || 7, 1, 30);\nconst maxArticles = toInt(pick('max_articles', $json.default_max_articles || 120), $json.default_max_articles || 120, 20, 250);\nconst minRelevance = toInt(pick('min_relevance', $json.default_min_relevance || 3), $json.default_min_relevance || 3, 1, 5);\n\nconst requester = String(body.user_name || body.user_id || body.requester || 'unknown').trim();\n\nreturn [{\n  json: {\n    ...$json,\n    country,\n    sector,\n    region,\n    theme,\n    audience,\n    days,\n    max_articles: maxArticles,\n    min_relevance: minRelevance,\n    requester,\n    requested_at_utc: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse_request",
      "name": "Parse Request Filters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const sinceIso = new Date(Date.now() - ($json.days * 24 * 60 * 60 * 1000)).toISOString();\n\nconst select = encodeURIComponent('raw_id,country,sector,relevance_score,relevance_reason,summary,enriched_at,raw:raw_articles!inner(url,headline,source_name,published_at,scraped_at)');\nconst params = [\n  `select=${select}`,\n  `relevance_score=gte.${$json.min_relevance}`,\n  `enriched_at=gte.${encodeURIComponent(sinceIso)}`,\n  `order=${encodeURIComponent('relevance_score.desc,enriched_at.desc')}`,\n  `limit=${$json.max_articles}`\n];\n\nif ($json.country && $json.country !== 'ALL') {\n  params.push(`country=eq.${encodeURIComponent($json.country)}`);\n}\n\nif ($json.sector && $json.sector !== 'ALL') {\n  params.push(`sector=eq.${encodeURIComponent($json.sector)}`);\n}\n\nconst supabaseQueryUrl = `${$json.supabase_url}/rest/v1/enriched_articles?${params.join('&')}`;\n\nreturn [{\n  json: {\n    ...$json,\n    since_iso: sinceIso,\n    supabase_query_url: supabaseQueryUrl\n  }\n}];"
      },
      "id": "build_query",
      "name": "Build Supabase Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.supabase_query_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$json.supabase_service_key}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.supabase_service_key}}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "fetch_articles",
      "name": "Fetch Candidate Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const req = $items('Parse Request Filters', 0, 0)[0].json;\n\nconst inputItems = $input.all();\nlet rows = [];\n\nfor (const it of inputItems) {\n  if (Array.isArray(it.json)) {\n    rows.push(...it.json);\n  } else if (it.json && Array.isArray(it.json.data)) {\n    rows.push(...it.json.data);\n  } else if (it.json && Array.isArray(it.json.body)) {\n    rows.push(...it.json.body);\n  } else if (it.json && it.json.body && Array.isArray(it.json.body.data)) {\n    rows.push(...it.json.body.data);\n  } else if (it.json && typeof it.json === 'object' && (it.json.raw_id || it.json.id)) {\n    rows.push(it.json);\n  }\n}\n\nconst regionByCountry = {\n  DZ: 'north-africa', EG: 'north-africa', LY: 'north-africa', MA: 'north-africa', SD: 'north-africa', TN: 'north-africa',\n  BJ: 'west-africa', BF: 'west-africa', CI: 'west-africa', CV: 'west-africa', GH: 'west-africa', GM: 'west-africa', GN: 'west-africa',\n  GW: 'west-africa', LR: 'west-africa', ML: 'west-africa', MR: 'west-africa', NE: 'west-africa', NG: 'west-africa', SN: 'west-africa',\n  SL: 'west-africa', TG: 'west-africa',\n  BI: 'east-africa', DJ: 'east-africa', ER: 'east-africa', ET: 'east-africa', KE: 'east-africa', RW: 'east-africa', SO: 'east-africa',\n  SS: 'east-africa', TZ: 'east-africa', UG: 'east-africa', SC: 'east-africa', KM: 'east-africa',\n  AO: 'central-africa', CD: 'central-africa', CF: 'central-africa', CG: 'central-africa', CM: 'central-africa', GA: 'central-africa',\n  GQ: 'central-africa', TD: 'central-africa', ST: 'central-africa',\n  BW: 'southern-africa', LS: 'southern-africa', MW: 'southern-africa', MZ: 'southern-africa', NA: 'southern-africa', SZ: 'southern-africa',\n  ZA: 'southern-africa', ZM: 'southern-africa', ZW: 'southern-africa', MG: 'southern-africa', MU: 'southern-africa'\n};\n\nconst normalized = rows.map((r) => {\n  const rel = r.raw || r.raw_articles || r.raw_article || r.rawArticles;\n  const raw = Array.isArray(rel) ? (rel[0] || {}) : (rel || {});\n  const country = String(r.country || 'PAN').toUpperCase();\n  return {\n    raw_id: r.raw_id || r.id,\n    country,\n    sector: r.sector || 'Other',\n    relevance_score: Number(r.relevance_score || 0),\n    relevance_reason: r.relevance_reason || '',\n    summary: r.summary || '',\n    enriched_at: r.enriched_at || '',\n    headline: raw.headline || r.headline || '',\n    url: raw.url || r.url || '',\n    source_name: raw.source_name || r.source_name || 'Unknown',\n    published_at: raw.published_at || raw.scraped_at || r.published_at || r.scraped_at || '',\n    region: regionByCountry[country] || (country === 'PAN' ? 'pan-africa' : 'other')\n  };\n});\n\nlet filtered = normalized;\nif (req.region && req.region !== 'all') {\n  filtered = filtered.filter((r) => r.region === req.region);\n}\n\nlet themeNotes = '';\nif (req.theme) {\n  const theme = String(req.theme).toLowerCase();\n  const keywords = theme.split(/[\\s,]+/).filter((k) => k.length >= 4);\n  const themeMatched = filtered.filter((r) => {\n    const blob = `${r.headline} ${r.summary}`.toLowerCase();\n    if (blob.includes(theme)) return true;\n    return keywords.some((k) => blob.includes(k));\n  });\n  if (themeMatched.length >= 5) {\n    filtered = themeMatched;\n  } else {\n    themeNotes = `Theme '${req.theme}' had low direct matches (${themeMatched.length}); using broader evidence set.`;\n  }\n}\n\nconst dedup = [];\nconst seen = new Set();\nfor (const row of filtered) {\n  const key = row.url || `raw:${row.raw_id}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  dedup.push(row);\n}\n\nconst topRows = dedup.slice(0, Math.min(dedup.length, 90));\n\nreturn [{\n  json: {\n    ...req,\n    has_articles: topRows.length > 0,\n    article_count: topRows.length,\n    theme_filter_note: themeNotes,\n    evidence_rows: topRows\n  }\n}];"
      },
      "id": "prepare_evidence",
      "name": "Prepare Evidence Set",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{Number($json.article_count || 0)}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if_has_articles",
      "name": "If Evidence Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -120,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  request: {\n    requester: $json.requester,\n    requested_at_utc: $json.requested_at_utc,\n    audience: $json.audience,\n    filters: {\n      country: $json.country,\n      sector: $json.sector,\n      region: $json.region,\n      theme: $json.theme,\n      days: $json.days,\n      min_relevance: $json.min_relevance,\n      max_articles: $json.max_articles\n    },\n    theme_filter_note: $json.theme_filter_note\n  },\n  evidence: $json.evidence_rows\n};\n\nconst systemPrompt = [\n  'You are IOA Briefing Analyst, producing concise executive intelligence briefs on African markets.',\n  'Return ONLY strict JSON.',\n  'Never invent evidence, URLs, countries, sectors, or claims.',\n  'Every key claim must be backed by one or more URLs from provided evidence.',\n  'Use only the provided evidence rows. If evidence is thin, say so clearly.',\n  'Output keys exactly: title, executive_summary, key_findings, country_or_region_hotspots, sector_view, risk_watchlist, opportunity_watchlist, references, slack_digest.',\n  'key_findings: array of objects {finding, why_it_matters, evidence_urls}.',\n  'country_or_region_hotspots: array of objects {location, note, evidence_urls}.',\n  'sector_view: array of objects {sector, note, evidence_urls}.',\n  'references: array of objects {headline, url, source_name, country, sector, published_at}.',\n  'slack_digest: <= 1200 characters, bullet style, include top references as markdown links.'\n].join('\\n');\n\nconst userPrompt = JSON.stringify(payload);\n\nreturn [{\n  json: {\n    ...$json,\n    system_prompt: systemPrompt,\n    user_prompt: userPrompt\n  }\n}];"
      },
      "id": "build_prompt",
      "name": "Build Brief Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.openai_api_key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $json.openai_model, \"temperature\": 0.2, \"response_format\": { \"type\": \"json_object\" }, \"messages\": [ { \"role\": \"system\", \"content\": $json.system_prompt }, { \"role\": \"user\", \"content\": $json.user_prompt } ] } }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "openai_generate",
      "name": "OpenAI Generate Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const req = $items('Prepare Evidence Set', 0, 0)[0].json;\nconst raw = String($json.choices?.[0]?.message?.content || '{}').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (err) {\n  parsed = {\n    title: 'IOA Brief (Parse Error)',\n    executive_summary: 'Model output was not valid JSON. Check workflow logs.',\n    key_findings: [],\n    country_or_region_hotspots: [],\n    sector_view: [],\n    risk_watchlist: [],\n    opportunity_watchlist: [],\n    references: req.evidence_rows.slice(0, 10).map((r) => ({\n      headline: r.headline,\n      url: r.url,\n      source_name: r.source_name,\n      country: r.country,\n      sector: r.sector,\n      published_at: r.published_at\n    })),\n    slack_digest: 'Layer 3 parse error. See n8n execution details.'\n  };\n}\n\nconst refs = Array.isArray(parsed.references) ? parsed.references.slice(0, 8) : [];\nconst refLines = refs.map((r, i) => `${i + 1}. <${r.url}|${r.headline || r.url}> (${r.source_name || 'Unknown'})`).join('\\n');\n\nconst filterLine = `Filters: country=${req.country}, sector=${req.sector}, region=${req.region}, theme=${req.theme || 'none'}, days=${req.days}`;\nconst header = `*${parsed.title || 'IOA Brief'}*\\n${filterLine}\\nEvidence used: ${req.article_count}`;\nconst digest = String(parsed.slack_digest || '').trim();\n\nconst slackText = [header, digest, refLines ? `Top references:\\n${refLines}` : 'Top references: none'].filter(Boolean).join('\\n\\n');\n\nreturn [{\n  json: {\n    ...req,\n    brief_json: parsed,\n    slack_text: slackText\n  }\n}];"
      },
      "id": "parse_openai",
      "name": "Parse Brief + Slack Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        240
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "slack_text",
              "value": "={{\"No Layer 3 brief generated: no evidence matched filters. country=\" + $json.country + \", sector=\" + $json.sector + \", region=\" + $json.region + \", theme=\" + ($json.theme || \"none\") + \", days=\" + $json.days}}"
            }
          ]
        },
        "options": {}
      },
      "id": "no_data_message",
      "name": "No Evidence Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        100,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.slack_webhook_url}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $json.slack_text } }}"
      },
      "id": "slack_notify",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        320
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Init Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Init Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Config": {
      "main": [
        [
          {
            "node": "Parse Request Filters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request Filters": {
      "main": [
        [
          {
            "node": "Build Supabase Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Supabase Query": {
      "main": [
        [
          {
            "node": "Fetch Candidate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Candidate Articles": {
      "main": [
        [
          {
            "node": "Prepare Evidence Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Evidence Set": {
      "main": [
        [
          {
            "node": "If Evidence Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Evidence Available": {
      "main": [
        [
          {
            "node": "Build Brief Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Evidence Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brief Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Generate Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Generate Brief": {
      "main": [
        [
          {
            "node": "Parse Brief + Slack Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Brief + Slack Text": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Evidence Message": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}